---
layout: default
---


<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    <div class="article-post">
    {{content}}
    </div>

    <!-- AADS Ad -->
    <div class="my-4">
        {% include aads-ad.html %}
    </div>
    <!-- End AADS Ad -->

    {% if page.comments == true and site.disqus %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>